[Unit]
Description=goserver daemon
After=network.target

[Service]
User=root
WorkingDirectory=/home/goserver
ExecStart=/home/goserver/cmd
Restart=always

[Install]
WantedBy=multi-user.target
